.styleClassNew{
  margin-top: 2%;
}

.colorClass {
  color: white !important;
}

.styleClass {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 1%;
}

.is-active {
  color: red;
}

.linkStyle {
  padding: 4%;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.styleCard{
  margin-top: 1%;
}

.styleTable{
  margin: 1%;
}
